*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(to left bottom, #ffd3f5, #f5bef4, #e5abf5, #d09af9, #b38bff) fixed;
}
.container{
    /* background-color: #ffffff; */
    width: 400px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* box-shadow: 15px 30px 35px rgba(0,0,0,0.1); */
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;


    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* .stats{
    text-align: right;
    color: #101020;
    font-weight: 500;
    line-height: 25px;
} */
.stats{
    background-color: white;
    display: flex;
    color: #101020;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 55px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    /* border: 2.5px solid #424ae0; */
    border-radius: 5px;
}

.stats p:nth-last-child(1){
  margin-left: 50%;
}
.coin{
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
/* .coin img{
    width: 145px;
} */
.heads{
    background-color: #bb0000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.tails{
    background-color: blue;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform: rotateX(180deg);
}
.textH{
    font-size: 30px;
    color: white;
    position: relative;
    top: 35%;
    text-align: center;
}
.textT{
    font-size: 30px;
    color: white;
    position: relative;
    top: 35%;
    text-align: center;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: space-between;
}
button{
    width: 120px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
}
#flip-button{
    background-color: #424ae0;
    color: #ffffff;
}
#flip-button:disabled{
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}
#reset-button{
    /* background-color: #ffffff; */
    color: #424ae0;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 30px ); */
    /* -webkit-backdrop-filter: blur( 4px ); */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
footer{
    margin-top: 5%;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    font-weight: 500;
    color: white;
}